.Feed{
    border: 3px solid #1F4D67;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 27px;
    position: relative;
}

.Feed p {
    padding: 83px 65px 103px 63px;

}
.Feed div {
   position: absolute;
   left: 30%;
   top: -5%;
   background: #1F4D67;
   padding: .5rem;
   color:white;

}
@media(max-width:760px){
    .Feed p {
        padding: 1rem 3rem;
    
    }
    .Feed div {
        position: absolute;
        left: 12%;
        top: -5%;
        color:white;
        background: #1F4D67;
        padding: .2rem;
     
     }
}