.Feed{
    border: 3px solid #1F4D67;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 27px;
    position: relative;
}

.Feed p {
    padding: 83px 65px 103px 63px;
    font-family: 'Acme';
    font-size: 1.3rem;
    text-align: center;


}
.Feed .day {
   position: absolute;
   left: 30%;
   top: -11.5%;
   background: #1F4D67;
   padding: .5rem;
   color:white;

}
.Feed .triangle {
   position: absolute;
   left: -5.5%;
   top: 40%;
   width: 0; 
  height: 0; 
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent; 
  
  border-right:20px solid #1F4D67; 

}
@media(max-width:760px){
    .Feed p {
        padding: 1rem 3rem;
    
    }
    .Feed .triangle {
        position: absolute;
        left: -7%;
        top: 40%;
        
        width: 0; 
        height: 0; 
        border-left: 20px solid transparent;
        border-right: 20px solid transparent;
        
        border-bottom: 20px solid #1F4D67;     
     }
    .Feed .day {
        position: absolute;
        left: 12%;
        top: -10%;
        color:white;
        background: #1F4D67;
        padding: .2rem;
     
     }
}