.Humbugger{
    display: flex;
    flex-flow: column;
    background: white;
    padding: 5px;
    cursor: pointer;
    
   
}
.Humbugger span:nth-of-type(1),
.Humbugger span:nth-child(2),
.Humbugger span:nth-child(3){
    width: 25px;
    height: 2px;
    background: #13435F;
    margin-bottom: 2px;
 
}


@media(min-width:500px){
    .Humbugger{
        display: none;
    }
}


