.SideDrawer{
    position: fixed;
    width: 280px;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999;
    background-color: #13435F;
    box-shadow: -3px 4px 7px rgba(0, 0, 0, 0.349);
    padding:32px 16px;
    box-sizing: border-box;
    transition: transform .5s ease-in;

}

@media (min-width:500px){
    .SideDrawer{
        display: none;
        box-shadow: 5px 4px 7px rgba(0, 0, 0, .99);

    }
    
}

.Open {
    transform: translateX(0);
    transition: 20 ease-out;
}

.Closed {
    transform: translateX(-100%);
    transition: 2s ease-in;

}
.Logo{
width: 60%;
height: auto;
margin-bottom: 32px;
}

.float{
    float: right;
margin: 1rem 1rem;
}
.float i{
    font-size: 2.5rem;
    cursor: pointer;
    color:white;
}

