.Layout{
    max-width: 1800px;
    margin: 0 auto;
    padding-left: 5.5rem;
    padding-right: 5.5rem;
    background-color: rgb(50, 50, 66);
    background-color: #13435F;
    padding: 4rem 1rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@media(max-width:760px){
    .Layout{
        padding: 4rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
.left{
    text-align: right;
}

.right{
    text-align: right;
}
.responsive{
    width: 20%;
    height: auto;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}