.Layout{
    background-color: rgb(50, 50, 66);
    background-color: #13435F;
    padding: 4rem 5rem;
    color: whitesmoke;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    color: #A2BAC8;
}
.inline{
    display: inline;
}
.float{
    display: flex !important;
    flex-direction: row;
}
@media(max-width:760px){
    .Layout{
        padding: 4rem 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
}
.left{
    text-align: right;
}

.right{
    text-align: right;
}
.responsive{
    width: 20%;
    height: auto;
}
.icon{
    display: flex;
    flex-direction: row;
    width: 40%;
    justify-content: space-between;
}
.icon a{
    text-decoration: none;
}
.icon a:active{
    text-decoration: none;
}
.icon i{
    cursor: pointer;
    font-size: 2rem;
}
@media(max-width:760px){
    .icon{
        margin-bottom: 3rem;
    } 
}