.Feed{
    border: 3px solid #1F4D67;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative;
    margin: 1rem 1rem;
}

.Feed p {
    padding: 1rem 2rem;
    font-family: 'Acme';
    font-size: 1.2rem;
    text-align: center;

}

@media(max-width:760px){
    .Feed p {
        padding: .4rem 1rem;
    
    }

}